.base {
  position: sticky;
  top: 60px;
  z-index: 2;
  background: #fff;
}
.container {
  display: flex;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08), 0 0 1px rgba(1, 0, 0, 0.1);
  align-items: center;
  height: 50px;
}
.tabHolder {
  padding-left: 20px;
  padding-right: 20px;
  width: auto;
  height: 100%;
}
.tab {
  color: #767676;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 14px;
  white-space: nowrap;
  font-weight: 500;
  transition: 0.5s;
}
.tabActive {
  composes: tab;
  color: #111;
  pointer-events: none;
  box-shadow: inset 0 -2px #111;
}
